body {
    padding: 10px;
}

.item-listing {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-gap: 20px;
    padding: 10px;
    border: 1px solid;
}

.item-listing .item-image {
    grid-row: 1;
    grid-column: 1;
}
.item-listing .item-image img {
    width: 360px;
}

.item-listing .item-info {
    grid-row: 1;
    grid-column: 2;
}