{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="p-4">All Posts</h1>

    <!-- Display the user's past posts, ten at a time -->
    <div class="container border p-4" id="past-posts">
    </div>

    <!-- When more posts are available, clicking next => load more posts
        Otherwise, display the h5 message -->
    <div class="container text-center p-3" id="load-posts">
        <button class="btn btn-sm btn-primary" id="load-more-button">Next</button>
        <h5 id="no-more-post">You have reach the edge of the world.</h5>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}