/* link to other search */
.other-search {
    text-align: right;
}

.search-logo {
    text-align: center;
}

.search-logo > img {
    width: 300px
}

.adv-search-logo > img {
    width: 100px;
}

/* for normal and image search */
.text-search {
    text-align: center;
}

.search-form {
    width: 50%;
    margin: auto;
}

.search-form > .input-field {
    padding: 10px;
}

#adv-search {
    margin-left: 20px;
}

.button {
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.adv-search-form {
    display: grid;
    grid-template-columns: 250px 200px;
    grid-gap: 10px;
    padding: 10px;
}

.adv-search-form > #adv-11 {
    grid-row: 1;
    grid-column: 1;
}

.adv-search-form > #adv-12 {
    grid-row: 1;
    grid-column: 2;
}

.adv-search-form > #adv-21 {
    grid-row: 2;
    grid-column: 1;
}

.adv-search-form > #adv-22 {
    grid-row: 2;
    grid-column: 2;
}

.adv-search-form > #adv-31 {
    grid-row: 3;
    grid-column: 1;
}

.adv-search-form > #adv-32 {
    grid-row: 3;
    grid-column: 2;
}

.adv-search-form > #adv-41 {
    grid-row: 4;
    grid-column: 1;
}

.adv-search-form > #adv-42 {
    grid-row: 4;
    grid-column: 2;
}

.adv-search-form > #adv-button {
    grid-row: 5;
    grid-column: 1/3;
    width: 150px;
    margin: auto;
    background-color: blue;
    color: white;
}