body {
    min-width: 500px;
    width: auto;
}

textarea {
    min-height: 400px;
}

#emails-view .email-container {
    display: grid;
    grid-template-columns: 180px auto 170px;
    grid-template-rows: 30px;
    column-gap: 10px;
    padding: 5px;
    border: 1px solid black;
}

#emails-view .email-container .email-sender {
    grid-column: 1;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#emails-view .email-container .email-subject {
    grid-column: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#emails-view .email-container .email-timestamp {
    grid-column: 3;
    font: grey;
}

