{% extends 'auctions/layout.html' %}

{% block body %}
    <ul>
        {% for cate, category_show in categories %}
            <li>
                <h4>
                    <a href="{% url 'category_view' select_category=cate %}">
                        {{ category_show }}
                    </a>
                </h4>                
            </li>
        {% empty %}
            <li>
                <h4>
                    No category has been created.
                </h4>
            </li>
        {% endfor %}
    </ul>
{% endblock %}