{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in listings %}
        <a href="{% url 'item' %}">
            <div>
                {% if listing.item.image_url %}
                    <img src="{{ item.image_url }}" width="200px">
            </div>
            <div>
                <p>
                    <h3>
                        {{ item.title }}
                    </h3>
                </p>
                <p>
                    <h5>
                        Price: $ {{ current_bid }}
                    </h5>
                </p>
            </div>
        </a>
        <br>
    {% empty %}
        <h5>There is no active listing at this time.</h5>
    {% endfor %}
{% endblock %}