{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Purchase History</h2>

    {% for item in listings %}
        <div class="item-listing">
            <a href="{% url 'item' item_id=item.pk %}" class="item-image">
                {% if item.image_url %}
                    <img src="{{ item.image_url }}">
                {% else %}
                    <h3>No image</h3>
                {% endif %}
            </a>
            <div class="item-info">
                <a href="{% url 'item' item_id=item.pk %}">
                    <h3>{{ item.title }}</h3>
                </a>
                <p>
                    <h5>Final Price: $ {{ item.price|floatformat:2 }}</h5>
                </p>
                <p>
                    Created time: {{ item.created_time }}
                </p>
                <p>
                    Seller: {{ item.seller }}
                </p>
            </div>
        </div>
    {% empty %}
        <h5>You have not purchased anything yet.</h5>
    {% endfor %}
{% endblock %}