{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- profile page -->
    {% if profile %}
        <div class="container" id="user-profile">
            <!-- if user does not exist, views.py returns a message; display it -->
            {% if message %}
                <h3>{{ message }}</h3>
            {% else %}
                <h2 class="p-4">{{ profile.username }}</h2>
                <p>Following: <span id="following-num">{{ profile.following.all.count }}</span></p>
                <p>Followers: <span id="followers-num">{{ profile.followers.all.count }}</span></p>
                {% if request.user.is_authenticated and profile.username != request.user.username %}
                    <button class="btn btn-sm btn-primary" id="unfollow-button" data-username="{{ profile.username }}" {% if profile not in request.user.following.all %}style="display: none;"{% endif %}>Unfollow</button>
                    <button class="btn btn-sm btn-primary" id="follow-button" data-username="{{ profile.username }}" {% if profile in request.user.following.all %}style="display: none;"{% endif %}>Follow</button>
                {% endif %}
            {% endif %}
        </div>

    {% else %}
        {% if type == "index" %}
            <h2 class="p-4">All Posts</h2>

            {% if request.user.is_authenticated %}
                <!-- Make new posts -->
                <div class="container justify-content-center" id="new-post">
                    <h3>New Post</h3>
                    <form id="new-post-form" method="post">
                        <div class="form-group">
                            <input type="text" id="new-post-title" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <textarea id="new-post-content" class="form-control" placeholder="What's in your mid?"></textarea>
                        </div>
                        <input class="btn btn-sm btn-primary" type="submit" value="Post">
                    </form>
                </div>
            {% endif %}
        {% else %}
            <h2 class="p-4">Posts from Following</h2>
        {% endif %}

    {% endif %}

    <!-- Display past posts, ten at a time -->
    <div class="container" id="past-posts">
        {% for post in page_obj.object_list %}
            <div class="container border p-4 past-post">

                <!-- post title -->
                <h5>{{ post.title }}</h5>

                <!-- post author, links to the author's profile page -->
                <a class="font-weight-bold" href="{% url 'profile' user_id=post.author.username %}">
                    {{ post.author.username }}
                </a>

                <!-- post content -->
                <div class="container post-content" id="post-content-{{ post.pk }}">{{ post.content }}</div>
                <br>

                <!-- a form for editing post if request.user is the author, hidden by default -->
                <form class="edit-post" method="put" id="edit-post-{{ post.pk }}" data-edit="{{ post.pk }}">
                    <textarea class="form-control" name="content">{{ post.content }}</textarea>
                    <input type="submit" class="btn btn-sm btn-primary" value="Save">
                </form>

                <!-- post timestamp -->
                <div class="container text-muted">
                    {{ post.timestamp|date:"m/d/Y, h:i A" }}
                </div>

                <!-- Like button and number of likes -->
                <div class="container">
                    <i class="fa fa-heart" data-postid="{{ post.pk }}" data-ifliked="{% if request.user in post.likes.all %}1{% else %}-1{% endif %}"></i>
                    <span class="text-muted" id="like-number-{{ post.pk }}">{{ post.likes_num }}</span>
                </div>

                <!-- Comment and Edit buttons -->
                <div class="container">
                    <button class="btn btn-link comment-button" data-postid="{{ post.pk }}">Comment</button>
                    {% if post.author.username == request.user.username %}
                        <button class="btn btn-link edit-post-button" data-postid="{{ post.pk }}">Edit</button>
                    {% endif %}
                </div>

                <!-- form for posting a new comment, hidden by default -->
                <div class="container new-comment" data-comment="{{ post.pk }}" id="new-comment-{{ post.pk }}">
                    <form method="post">
                        <input type="text" class="form-control" id="new-comment-input-{{ post.pk }}" placeholder="Comment Here...">
                        <input class="btn btn-sm btn-primary" type="submit" value="Post">
                    </form>
                </div>

                <!-- show all existing comments for each post -->
                <div class="container past-comments" id="past-comments-{{ post.pk }}">
                    {% for comment in post.post_comment.all %}
                        <div class="container border p-1">
                            <a class="font-weight-bold" href="{% url 'profile' user_id=comment.commenter.username %}">{{ comment.commenter.username }}</a>
                            <div class="container">
                                {{ comment.content }}
                            </div>
                            <div class="container text-muted">
                                {{ comment.timestamp|date:"m/d/Y, h:i A" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        {% empty %}
            <h4>There are no posts at this time.</h4>
        {% endfor %}
    </div>

    <!-- navigation for pages -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <!-- the Previous Page button; if on 1st page, disable it -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
            {% endif %}
            
            <!-- button for each page -->
            {% for page in total_page %}
                {% if page == page_num %}
                    <li class="page-item active">
                        <span class="page-link">{{ page }}<span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            
            <!-- the Next Page button; if on last page, disable it -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next</span>
                </li>
            {% endif %}
        </ul>
      </nav>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}